body {
  margin: 0;
  height: 100vh;
  background-image: url("../images/background.png"); /* Ruta de la imagen de fondo */
  background-size: cover;       /* La imagen cubre toda la pantalla */
  background-position: center;  /* Centrada */
  background-repeat: no-repeat; /* No se repite */
  display: flex;
  justify-content: center;
  align-items: center;
}
.boton-retorno {
  position: fixed;   /* fijo en la pantalla */
  top: 20px;         /* distancia desde arriba */
  left: 20px;        /* distancia desde la izquierda */
  z-index: 1000;     /* encima de todo */
}

.boton-retorno img {
  width: 60px;       /* tamaño del ícono */
  height: 60px;
  cursor: pointer;   /* se ve clicable */
  transition: transform 0.2s; /* animación suave */
}

.boton-retorno img:hover {
  transform: scale(1.1); /* efecto al pasar el mouse */
}

.carta {
  column-count: 3;       /* 3 columnas en desktop */
  column-gap: 40px;      /* espacio entre columnas */
  line-height: 1.6;      /* más cómodo para leer */
  max-width: 1200px;     /* opcional: limita el ancho total */
  margin: 50px auto;     /* centra el div y deja margen arriba */
  color: #333;
}

h3 {
  font-family: "Fuzzy Bubbles";
}
p {
  font-family: 'Fuzzy Bubbles', cursive;
}



