body {
  margin: 0;
  min-height: 100vh;

  background-image: url("../images/second.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Segoe UI', sans-serif;
}
.boton-retorno {
  position: fixed;   /* fijo en la pantalla */
  top: 20px;         /* distancia desde arriba */
  left: 20px;        /* distancia desde la izquierda */
  z-index: 1000;     /* encima de todo */
}

.boton-retorno img {
  width: 60px;       /* tamaño del ícono */
  height: 60px;
  cursor: pointer;   /* se ve clicable */
  transition: transform 0.2s; /* animación suave */
}

.boton-retorno img:hover {
  transform: scale(1.1); /* efecto al pasar el mouse */
}

.grid-container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 220px);
  grid-template-rows: repeat(2, 220px);
  gap: 30px;
  justify-content: center;
  align-content: center;
  background: transparent; /* mismo fondo suave */
}

.gift-card {
  background: transparent;
  border-radius: 20px;
  border: 5px solid #1f3c5b; /* azul marino suave */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.gift-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;     /* no se deforma */
  border-radius: 18px;   /* respeta la curva */
}

.gift-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(31, 60, 91, 0.25);
}
